{{#if bookNumber}}
  <h3>Book number {{bookNumber}}</h3>
{{/if}}
<h5>{{book.title}}</h5>
<h5>By: {{book.title}}</h5>
<h5>Genre: {{book.genre}}</h5>
<h5>Price: {{format-currency book.price}}</h5>
<p>Description: {{book.description}}</p>
