{{#if userNumber}}
  <h3>User number {{userNumber}}</h3>
{{/if}}
<h5>Name: {{user.fullName}}</h5>
<h5>Email: {{user.email}}</h5>
<h5>DOB: {{user.dateOfBirth}}</h5>
<h5>Savings: {{format-currency user.currentSavingsInCents}}</h5>
<h5>Checking: {{format-currency user.currentCheckingInCents}}</h5>
{{#if user.isOverEighteen}}
  <h4>They are old enough</h4>
{{/if}}
